.vs/  
bin/  
obj/  
debug/  
release/  
*.suo  
*.user  
*.cache  
*.log  
*.ncb  
*.pdb  
*.opendb  
*.VC.db  
packages/  
node_modules/  
*.nuget  
project.lock.json  
*.Publish.xml  
*.pubxml  
*.pubxml.user  
*.tmp  
*.temp  
*.bak  
*.swp  
*.swo  
Thumbs.db  
.DS_Store  
Migrations/  
*.mdf  
*.ldf  
*.sqlite 
